<div class="call-block">
    <div class="call-block__inner-container">
        <h2 class="section-desc section-desc--call">Сall the master in two clicks</h2>
        <p class="call-block__text">Скидка 20% только в августе</p>
        <form name="call-block-form" action="">
            <input class="call-tel" type="tel" placeholder="+7 (___) ___ - __ - __">
            <input type="submit" class="call-btn" value="Call the master">
            <div class="call-check">
                <input id="call-check__input" checked class="visually-hidden" type="checkbox">
                <label for="call-check__input">I agree to <a class="call-check__download" href="" download>the processing of data</a></label>
            </div>    
        </form>
    </div>
</div>