<div class="callback-menu">
    <div class="callback-menu__inner-container">
        <h2 class="callback-menu__title">Header</h2>
        <form class="callback-form" action="" name="callback-form">
            <h2 class="callback-form__heading-h2">My name is</h2>
            <div class="field-wrapper">
                <label class="callback-form__label" for="first-name">First name</label>
                <input class="callback-form__text-input" id="first-name" type="text" placeholder="Adrian">
            </div>
            <div class="field-wrapper">
                <label class="callback-form__label" for="last-name">Last name</label>
                <input class="callback-form__text-input" id="last-name" type="text" placeholder="Markov">
            </div>

            <h2 class="callback-form__heading-h2">I live in</h2>
            <div class="field-wrapper">
                <label class="callback-form__label" for="state-select">State</label>
                <select class="callback-form__text-input" id="state-select" type="select">
                    <option value="Location" disabled selected hidden>Location</option>
                    <option value="state1">State1</option>
                    <option value="state2">State2</option>
                    <option value="state3">State3</option>
                </select>
            </div>

            <h2 class="callback-form__heading-h2">When we could get contact you</h2>
            <ul class="callback-form__radio-list">
                <li class="callback-form__radio-el">
                    <input
                        class="visually-hidden filter-input filter-input-radio"
                        type="radio"
                        name="day-part-group"
                        id="filter-morning"
                    />
                  <label for="filter-morning">Morning</label>
                </li>
                <li class="callback-form__radio-el">
                    <input
                        class="visually-hidden filter-input filter-input-radio"
                        type="radio"
                        name="day-part-group"
                        id="filter-day"
                    />
                  <label for="filter-day">Day</label>
                </li>
                <li class="callback-form__radio-el">
                    <input
                        class="visually-hidden filter-input filter-input-radio"
                        type="radio"
                        name="day-part-group"
                        id="filter-evening"
                    />
                  <label for="filter-evening">Evening</label>
                </li>
            </ul>
            <input class="callback-form__submit" type="submit" value="Send">

        </form>
    </div>
</div>