<section class="cleaning el-to-scroll">
    <div class="cleaning__inner-container">
        <h2 class="cleaning__title section-title">Cleaning</h2>
        <p class="cleaning__desc section-desc">Why it is important to clean a conditioner</p>
        <div class="cleaning__items-wrapper">
            <div class="cleaning__item">
                <div class="cleaning__icon cleaning__icon--electricity"></div>
                <h3 class="cleaning__heading">Save 50% electricity on heating or freezing</h3>
                <p class="cleaning__text">Clean conditioner is 50% quickly keep the temperature you wish. It does not waste additional time, electricity (and money!) for heating or freezing.</p>
            </div>
            <div class="cleaning__item">
                <div class="cleaning__icon cleaning__icon--bacteria"></div>
                <h3 class="cleaning__heading">Kill Bacteria</h3>
                <p class="cleaning__text">Dirty conditioner consists of thousands of bacteria that can lead to allergies, running nose and increase risk of diseases. Clean conditionerguarantees only air.</p>
            </div>
            <div class="cleaning__item">
                <div class="cleaning__icon cleaning__icon--fan"></div>
                <h3 class="cleaning__heading">Long-Term Durability</h3>
                <p class="cleaning__text">Cleaning twice a year you give your conditioner additional 10 years of work</p>
            </div>
            <div class="cleaning__item cleaning__item--last">
                <div class="cleaning__icon cleaning__icon--termometer"></div>
                <h3 class="cleaning__heading">Use Less Freeze</h3>
                <p class="cleaning__text">One conditioner without cleaning A shower uses 10 to 25 gallons of water, while taking a bath can use up to 70 gallons. You could save a lot on water bills!</p>
            </div>
            <div class="cleaning__item cleaning__star-text">
                <p class="cleaning__star-row--top">*Important detail:</p>
                <p>According to instructions of air conditioner producers cleaning must be done twice a year. Customers may do it at any season, no matter if it is cold or hot in the street.</p>
            </div>
        </div>
    </div>
</section>