<section class="faq-block">
    <h2 class="our-work__title section-title">FAQ</h2>
    <p class="our-work__desc section-desc">We answer your questions in advance</p>
    <div class="faq-block__content-wrapper">
        <div class="faq-block__items_wrapper">
            <div class="faq-block__item">
                <p class="faq-block__question">Question 1<button class="faq-block__btn"></button></p>
                <p class="faq-block__answer">Answer</p>
            </div>
            <div class="faq-block__item">
                <p class="faq-block__question">Question 2<button class="faq-block__btn"></button></p>
                <p class="faq-block__answer">Answer</p>
            </div>
            <div class="faq-block__item">
                <p class="faq-block__question">Question 3<button class="faq-block__btn"></button></p>
                <p class="faq-block__answer">Answer</p>
            </div>
            <div class="faq-block__item">
                <p class="faq-block__question">Question 4<button class="faq-block__btn"></button></p>
                <p class="faq-block__answer">Answer</p>
            </div>
        </div>
        <img class="faq-block__image" src="/images/faq-image.jpg" alt="faq-image">
    </div>
</section>