<section class="faq-block">
    <h2 class="our-work__title section-title">FAQ</h2>
    <p class="our-work__desc section-desc">We answer your questions in advance</p>
    <div class="faq-block__content-wrapper">
        <div class="faq-block__items_wrapper">
            <div class="faq-block__item">
                <p class="faq-block__question">Why do you need to clean air conditioner twice a year?<button class="faq-block__btn"></button></p>
                <p class="faq-block__answer">Dust, dirt, and debris can accumulate on the air conditioner's filters, coils, and fins, causing it to work less efficiently. Regular cleaning ensures that these components are free from blockages, allowing the air conditioner to function optimally and cool or heat the space effectively.</p>
            </div>
            <div class="faq-block__item">
                <p class="faq-block__question">Is air conditioning expensive?<button class="faq-block__btn"></button></p>
                <p class="faq-block__answer">The cost for the service is only $99, and the beneficial effects of the clean air conditioner last for 6 months. This investment provides improved indoor air quality, enhanced cooling or heating efficiency, and potential energy savings throughout the extended period.</p>
            </div>
            <div class="faq-block__item">
                <p class="faq-block__question">How long does it take to clean my air conditioner?<button class="faq-block__btn"></button></p>
                <p class="faq-block__answer">With just a two-hour time commitment, you can have your air conditioner cleaned and enjoy its all  benefits.</p>
            </div>
        </div>
        <img class="faq-block__image" src="/images/faq-image.jpg" alt="faq-image">
    </div>
</section>