    <footer class="footer">
        <div class="footer__inner-container">
            <img class="footer__logo" src="./images/logo.svg" alt="logo">
            <span class="footer__title">FIXCONDITIONER</span>
            <ul class="footer__links">
                <li class="footer__link-wrapper">
                    <a class="footer__link" href="">Terms of use</a>
                </li>
                <li class="footer__link-wrapper">
                    <a class="footer__link" href="">Agreement</a>
                </li>
                <li class="footer__link-wrapper">
                    <a class="footer__link" href="">Private policy</a>
                </li>
                <li class="footer__link-wrapper">
                    <a class="footer__link" href="">Contact us</a>
                </li>
            </ul>

            <span class="footer__follow-text" href="">Follow US</span>

            <ul class="footer__social-links">
                <li class="footer__social-item">
                    <a class="footer__social-link footer__social-link--instagram" href=""></a>
                </li>
                <li class="footer__social-item">
                    <a class="footer__social-link footer__social-link--vk" href=""></a>
                </li>
                <li class="footer__social-item">
                    <a class="footer__social-link footer__social-link--telegram" href=""></a>
                </li>
                <li class="footer__social-item">
                    <a class="footer__social-link footer__social-link--whatsapp" href=""></a>
                </li>
            </ul>
        </div>
    </footer>
   <script src="js/main.min.js"></script> 
</body>
</html>