<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.min.css">
</head>
<body>
    
    <header class="main-header">
        <div class="main-header__inner-container">
            <a href="/" class="header-title">
                <img class="header-title__img" src="/images/logo.svg" alt="">
                <span class="header-title__text" >FIXCONDITIONER</span>
            </a>
            <ul class="desktop-menu">
                <li class="desktop-menu__item">
                    <a class="desktop-menu__link why-scroll" href="#">Why do you need to clean</a>
                </li>
                <li class="desktop-menu__item">
                    <a class="desktop-menu__link" href="our-team.html">Our team</a>
                </li>
                <li class="desktop-menu__item">
                    <a class="desktop-menu__link" href="#">Contact</a>
                </li>
            </ul>
            <div class="header-rb">
                <div class="header-call cb-btn">
                    <picture>
                        <source media="(min-width: 768px)" srcset="/images/phone-desktop.svg">
                        <img class="header-call__img" src="/images/phone.svg" alt="phone">
                    </picture>
                    <span class="header-call__text">
                        Call me back
                    </span>
                </div>
                <div class="header-brg">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </header>
