<section class="intro-block intro-block--pos">
    <div class="intro-block__inner-container">
        <picture>
            <source media="(min-width: 768px)" srcset="../images/group1x4.png">
            <img class="intro-block__main-img" src="../images/group1x2.png" alt="group">
        </picture>
        <h1 class="intro-block__header">Clean your <span>Air Conditioner</span> and breathe free</h1>
        <p class="intro-block__desc">It’s a rule you must clean it twice a year. Decrease risk of bacterias and help your device serve you 10 years.</p>
        <form action="" name="conditioner-form" class="conditioner-form">
            <input class="conditioner-form__input conditioner-form__input--text" type="text" name="zip" placeholder="Enter your zip">
            <input class="conditioner-form__input" type="text" name="install" placeholder="Where your conditioner is installed">
            <!-- <textarea class="conditioner-form__input conditioner-form__input--textarea" name="" id=""  rows="2" placeholder="Where your conditioner is installed"></textarea> -->
        </form>
        <div class="intro-block__btn intro-block__btn--v2">Get it</div>
    </div>
</section>