<section class="intro-block intro-block--pos">
    <div class="intro-block__inner-container">
        <h1 class="intro-block__header">Clean your Air Conditioner and breathe free</h1>
        <p class="intro-block__desc">It’s a rule you must clean it twice a year. Decrease risk of bacterias and help your device serve you 10 years.</p>
        <div class="intro-block__btn">Do it just for 99$</div>
        <img class="intro-block__stars" src="../images/stars.svg" alt="stars">
        <p class="intro-block__stars-text">From +78,480 homeowners</p>
        <picture>
            <source media="(min-width: 768px)" srcset="../images/group2x4.png">
            <img src="../images/group2x2.png" alt="group">
        </picture>
    </div>
</section>