<div class="header-title-menu">
    <a class="header-title-menu__logo-container" href="/">
        <img class="header-title-menu__img" src="images/logo.svg" alt="">
        <span class="header-title-menu__text" >FIXCONDITIONER</span>
    </a>

    <ul class="header-title-menu__list header-title-menu__list--pos">
        <li class="header-title-menu__item why-scroll"><a class="header-title-menu__link" href="#">Why do you need to clean</a></li>
        <li class="header-title-menu__item"><a class="header-title-menu__link" href="our-team.html">Our team</a></li>
        <li class="header-title-menu__item"><a class="header-title-menu__link" href="#">Contact</a></li>
    </ul>

    <div class="header-call header-call-menu header-call-menu--pos cb-btn">
        <img class="header-call__img header-call-menu__img" src="./images/phone.svg" alt="phone">
        <span class="header-call__text header-call-menu__text">
            Call me back
        </span>
    </div>
</div>