<section class="our-work">
    <div class="our-work__inner-container">
        <h2 class="our-work__title section-title">Our work</h2>
        <p class="our-work__desc section-desc">Compare the difference between dirty and clean conditioner</p>
        <div class="our-work__slider-wrapper">
            <div class="slider-block slider-block--desk-01">
                <div class="slider">
                    <div class="slider-line">
                        <picture>
                            <source media="(min-width: 768px)" srcset="/images/cond-bad-deskx4-01.jpg">
                            <img class="slider-img" src="/images/cond-badx2-01.jpg" alt="conditioner image">
                        </picture>
                        <picture>
                            <source media="(min-width: 768px)" srcset="/images/cond-bad-deskx4-02.jpg">
                            <img class="slider-img" src="/images/cond-badx2-02.jpg" alt="conditioner image">
                        </picture>
                        <picture>
                            <source media="(min-width: 768px)" srcset="/images/cond-bad-deskx4-03.jpg">
                            <img class="slider-img" src="/images/cond-badx2-03.jpg" alt="conditioner image">
                        </picture>
                        <!-- <img class="slider-img" src="/images/cond-badx2-01.jpg" alt="conditioner image">
                        <img class="slider-img" src="/images/cond-badx2-02.jpg" alt="conditioner image">
                        <img class="slider-img" src="/images/cond-badx2-03.jpg" alt="conditioner image"> -->
                    </div>
                    <button class="slider-btn slider-prev"></button>
                    <button class="slider-btn slider-next"></button>
                    <div class="slider-window-title slider-window-title--bad">Before</div>
                </div>
                <!-- <h3 class="slider-block__heading">Headline123</h3> -->
                <p class="slider-block__desc">Dirty air conditioner circulates dust, allergens, and mold spores, leading to respiratory issues and potentially exacerbating allergies or asthma. It becomes less efficient, consuming more energy and resulting in higher electricity bills providing inadequate cooling or heating.</p>
                <p class="slider-block__phrase">Your nose says thanks to you</p>
            </div>
    
            <div class="slider-block slider-block--desk-01">
                <div class="slider">
                    <div class="slider-line">
                        <picture>
                            <source media="(min-width: 768px)" srcset="/images/cond-good-deskx4-01.jpg">
                            <img class="slider-img" src="/images/cond-goodx2-01.jpg" alt="conditioner image">
                        </picture>
                        <picture>
                            <source media="(min-width: 768px)" srcset="/images/cond-good-deskx4-02.jpg">
                            <img class="slider-img" src="/images/cond-goodx2-02.jpg" alt="conditioner image">
                        </picture>
                        <!-- <img class="slider-img" src="/images/cond-badx2-01.jpg" alt="conditioner image">
                        <img class="slider-img" src="/images/cond-badx2-02.jpg" alt="conditioner image">
                        <img class="slider-img" src="/images/cond-badx2-03.jpg" alt="conditioner image"> -->
                    </div>
                    <button class="slider-btn slider-prev"></button>
                    <button class="slider-btn slider-next"></button>
                    <div class="slider-window-title slider-window-title--good">After</div>
                </div>
                <!-- <h3 class="slider-block__heading">Headline</h3> -->
                <p class="slider-block__desc">Clean air conditioner improves indoor air quality by efficiently filtering out pollutants, allergens, and dust, providing a healthier and more comfortable living environment. It consumes less energy and reduces utility costs maintaining optimal cooling or heating performance.</p>
                <p class="slider-block__phrase">Last life to your conditioner</p>
            </div>
        </div>
    </div>
</section>