<section class="reviews">
    <div class="reviews__inner-container">
        <h2 class="section-title">Reviews</h2>
        <p class="section-desc">Read the reviews of our customers</p>
        <div class="slider-block slider-block--reviews">
            <div class="slider slider--reviews">
                <div class="slider-line slider-line--reviews">
                    <div class="reviews__item slider-img">
                        <img class="reviews__stars" src="/images/stars-blue.svg" alt="avatar">
                        <p class="reviews__text">The conditioner crew at FixConditioner is wonderful! They were punctual, efficient and made my cleaning experience the best I have ever had. They had all jobs done within 2 hours. This is who you need to call if you need help with your conditioner, thank you guys!</p>
                        
                        <div class="reviews__person-block person-block">
                            <div class="person-block__img person-block__img--001"></div>
                            <div class="person-data-container">
                                <span class="person-block__name">Margaret M.</span>
                                <span class="person-block__date">20 Jan 2022</span>
                            </div>
                        </div>
                    </div>

                    <div class="reviews__item slider-img">
                        <img class="reviews__stars" src="/images/stars-blue.svg" alt="avatar">
                        <p class="reviews__text">Alex and his crew performed an outstanding job cleaning our conditioners with great caution. They exhibited utmost professionalism, courtesy, and benevolence. The  work was completed faster than anticipated. We will absolutely endorse their services to anyone seeking for a clean conditioner in the house</p>
                        
                        <div class="reviews__person-block person-block">
                            <div class="person-block__img person-block__img--002"></div>
                            <div class="person-data-container">
                                <span class="person-block__name">Yan G.</span>
                                <span class="person-block__date">07 Jan 2023</span>
                            </div>
                        </div>
                    </div>

                    <div class="reviews__item slider-img">
                        <img class="reviews__stars" src="/images/stars-blue.svg" alt="avatar">
                        <p class="reviews__text">Extremely happy that I utilized this company over all the rest local movers. They communicated professionally, explained why it is absolutely necessary to take care of your conditioners twice a year. I will come back soon to them again and will recommend it to my friends and relatives.</p>
                        
                        <div class="reviews__person-block person-block">
                            <div class="person-block__img person-block__img--003"></div>
                            <div class="person-data-container">
                                <span class="person-block__name">Tony D.</span>
                                <span class="person-block__date">06 May 2023</span>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="reviews__btn-more">Read more</button>
                <div class="reviews-btn-wrapper">
                    <button class="slider-btn slider-prev slider-prev--reviews"></button>
                    <button class="slider-btn slider-next slider-next--reviews"></button>
                </div>
            </div>
        </div>
    </div>
</section>