<section class="step-block">
    <div class="step-block__inner-container">
        <h2 class="section-title">Step</h2>
        <p class="section-desc">How we work</p>
        <div class="step-block__items-wrapper">
            <div class="step-block__item">
                <div class="step-block__icon step-block__icon--card"></div>
                <h3 class="step-block__heading">Share your details</h3>
                <p class="step-block__text">Answer two simple questions about your conditioner</p>
            </div>
            <div class="step-block__item">
                <div class="step-block__icon step-block__icon--calendar"></div>
                <h3 class="step-block__heading">Settle date and time</h3>
                <p class="step-block__text">We bring all necessary equipment, you don't need to pay extra, price 99$ is final</p>
            </div>
            <div class="step-block__item step-block__item--last">
                <div class="step-block__icon step-block__icon--wind"></div>
                <h3 class="step-block__heading">Enjoy your fresh air</h3>
                <p class="step-block__text">It takes only two hours of your time to let us do our job</p>
            </div>
        </div>
    </div>
</section>