@media (min-width: 1024px) {
    .callback-menu--show {
        z-index: 100;
        width: auto;
        height: auto;
        padding: 40px 40px 25px;
        // top: calc(50% - 381px);
        top: calc(50% - 362px);
        // left: calc(50% - 465px);
        left: calc(50% - 301px);
        background-color: #fff;
        box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.2);
    }

    .name-fields-wrapper {
        display: flex;
    }

    // .union-wrapper {
    //     display: flex;
    // }
}



.callback-menu__title {
    // margin-bottom: 63px;
    margin-bottom: 43px;
    font-size: 28px;
    font-weight: 600;
}

@media (min-width: 1024px) {
    .callback-menu__inner-container {
        position: relative;
    }
}

.desktop-close-menu--show {
    display: block;
    position: absolute;
    width: 34px;
    height: 34px;
    top: 36px;
    right: 36px;
    cursor: pointer;

    &::after, &::before{
        content: '';
        position: absolute;
        top: 16px;
        right: 0;
        width: 34px;
        height: 2px;
        background-color: $second-blue;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }

    @media (min-width: 1024px) {
        top: -18px;
        right: -18px;
    }
}

.callback-form__heading-h2 {
    font-size: 28px;
    text-align: center;
}

.callback-form__label {
    font-size: 20px;
}

.callback-form__text-input {
    width: 400px;
    font-size: 20px;
}

.name-fields-wrapper, .union-wrapper {
    column-gap: 50px;
}

#state-select, #state-select2 {
    width: 100%;
    max-width: none;
    background-position: right 18px center, left 6px center;
}

.field-wrapper {
    margin-bottom: 0;
}

.field-wrapper, .union-wrapper {
    // margin-bottom: 40px;
    margin-bottom: 30px;
}

.field-wrapper--phone {
    margin-bottom: 0;
}

@media (min-width: 1024px) {
    .callback-form__radio-list {
        justify-content: space-between;
        column-gap: 47px;
        margin-bottom: 60px;
        // margin-left: 22px;
    }
}

.callback-form__radio-el {
    margin-left: 22px;

    label {
        font-size: 20px;
    }
}

.filter-input-radio+label::before {
    top: 3px;
}

.filter-input-radio:checked+label::after {
    top: 7px;
}

.callback-form__submit {
    font-size: 28px;
}

.callback-form {
    max-width: 400px;
}