.call-block {
    margin-bottom: 150px;
    padding: 60px 60px 30px;

    @media (min-width: 1280px){
        padding-left: 180px;
        padding-right: 180px;
    }
}

.call-block__inner-container {
    flex-direction: row;
    justify-content: center;
    column-gap: 88px;

    @media (min-width: 1280px) {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        align-items: center;
        // justify-content: center;
    }
}

.call-block__text-container {
    display: flex;
    flex-direction: column;
    max-width: 264px;

    // @media (min-width: 1280px) {
    //     justify-self: center;
    // }
    
}

.section-desc {
    text-align: left;
}

.call-block__text {
    text-align: left;
    font-size: 20px;
}

.call-block__form-container {
    max-width: 314px;

    @media (min-width: 1280px) {
        max-width: 100%;
    }
}

.call-check {
    label {
        @media (min-width: 900px) {
            font-size: 20px;
        }
    }
}

#call-check__input+label::before {
    top: 3px;
}

.call-block-form__enter-inputs-container {
    @media (min-width: 1280px) {
        display: flex;
        column-gap: 24px;
        // grid-template-columns: 1fr 1fr;
        margin: 0;
    }
}

@media (min-width: 1280px) {
    .call-btn {
        width: 216px;
        flex-shrink: 0;
    }
    
    .call-tel {
        max-width: 314px;
        flex-shrink: 0;
        // margin-right: 34px;
    }
    
    .call-check {
        justify-content: flex-start;
        margin-left: 22px;
    }

    .call-block-form {
        margin-left: -34px;
    }
}
