.desktop-menu {
    display: flex;
    column-gap: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (min-width: 1024px) {
    .header-brg {
        display: none;
    }
}

.desktop-menu__link {
    font-size: 18px;
    @media (min-width: 900px) {
        font-size: 20px;
    }
    color: $text-color1;

    &:hover {
        color: lighten($text-color1, 20%);
    }

    &:active, &:focus {
        position: relative;
        top: 2px;
        transition: top .2s;
    }
}

.fp1 {
    flex-shrink: 0;
}

.main-header {
    @media (min-width: 1310px) {
        padding-left: 0;
        padding-right: 0;
        max-width: 1280px;
        margin: 0 auto;
    }
}

.header-title__img {
    width: 82px;
}

.header-title__text {
    font-size: 20px;
    line-height: normal;
    font-weight: 400;
}

.header-call__img {
    width: 26px;
}

.header-call__text {
    font-size: 20px;
    font-weight: 500;
}