.intro-block {
    display: flex;
    justify-content: center;
    margin-top: 44px;
}

.intro-block--pos {
    padding-top: 0;

    // @media (min-width: 1024px) {
    //     height: calc(100vh - 86px - 44px);
    // }
    @media (min-width: 1280px) {
        padding-bottom: 190px;
    }
}


@media (min-width: 1024px) {
    .intro-block__inner-container {
    
        flex-direction: row;
        gap: 20px;
    
        picture {
            order: 1;
        }
    }
    
    .intro-block__right-content {
        order: 0;
    }
}

.intro-block__main-img {
    max-width: 462px;
}

.intro-block__header {
    margin-bottom: 30px;
    max-width: none;
    font-size: 60px;
    font-weight: 700;

    @media (min-width: 1280px) {
        text-align: left;
    }
}

.intro-block__desc {
    max-width: 586px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;   

    @media (min-width: 1280px) {
        margin-left: 0;
        margin-right: 0;
        text-align: left;
    }
}

.conditioner-form {
    justify-content: flex-start;
    align-items: center;

    @media (min-width: 1280px) {
        // flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        column-gap: 15px;
    }
}

.conditioner-form__input {
    width: 50%;
    margin: 0 auto;

    @media (min-width: 1024px) {
        width: 61%;
        max-width: 311px;
        align-self: center;
        margin: 0;
    }
    
    @media (min-width: 1280px) {
        margin: 0;
        width: 48%;
    }

    align-self: baseline;
    font-size: 20px;
}

.intro-block__btn {
    // width: 50%;
    margin: 0 auto;

    @media (min-width: 1024px) {
        // width: 61%;
        // max-width: 311px;
        max-width: none;
        margin: 0;
    }

    // @media (min-width: 1280px) {
        // width: 49%;
    // }
    padding: 10px 50px;
    font-size: 20px;
}

.intro-block3-select {

    option {
        background-image: url(/images/select-arrow.svg);
    }
}

.place-container {
    width: 100%;
    // max-width: 311px;
}

.place-container__radio-list {
    label {
        font-size: 17px;
    }
}

.place-container__title {
    // font-size: 20px;
    font-size: 16px;
}