.join-block {
    max-width: 911px;
    margin-bottom: 190px;
    margin-left: auto;
    margin-right: auto;
}
.join-block__inner-container {
    padding: 45px 35px;
}

.join-block__heading {
    margin-bottom: 30px;
    font-size: 40px;
}

.join-block__text {
    display: inline;
    font-size: 40px;
}

.join-block__btn {
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 500;
}

.desk-heading-space {
    display: inline;
}