.body-fixed {
    height: 100%;
    overflow: hidden;
}

.section-title {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: normal;
    color: $second-blue;

    @media (min-width: 768px) {
        margin-bottom: 15px;
        font-size: 20px;
    }
}

.section-desc {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    color: $text-color1;

    @media (min-width: 768px) {
        margin-bottom: 50px;
        max-width: 660px;
        font-size: 40px;
        font-weight: 600;
    }
}

picture {
    line-height: 0;
}
