.body-fixed {
    position: fixed;
}

.section-title {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: normal;
    color: $second-blue;
}

.section-desc {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    color: $text-color1;
}
