.header-title-menu {
    display: none;
}

.header-title-menu__img {
    width: 78px;
}

.header-title-menu__text {
    font-size: 19px;
    line-height: normal;
}

.header-title-menu--active {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 89px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: $main-blue;
    animation-name: bounce;
    animation-duration: 0.6s;
}

.header-title-menu__list--pos {
    margin-top: 100px;
}

.header-title-menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    padding: 0;
    list-style: none;
}

.header-title-menu__item {
    font-size: 20px;
    cursor: pointer;

    &:hover {
        text-shadow: 1px 1px 2px rgb(161, 161, 161);

        @media (max-width: 640px) {
            position: relative;
            top: 2px;
            transition: top .2s;
        }
    }

    &:active, &:focus {
        position: relative;
        top: 2px;
        // text-shadow: 1px 1px 2px rgb(161, 161, 161);
        transition: top .2s;
    }
}

.header-call-menu {
    padding: 10px 20px;
    background-color: $second-blue;
    border-radius: 15px;
}

.header-call-menu__text {
    font-size: 20px;
}

.header-call-menu--pos {
    margin-top: 70px;
}