.team__top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team__main-heading {
    max-width: 322px;
    margin-top: 64px;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.intro-block__btn--team {
    margin-bottom: 30px;
}

.team-counts {
    margin-bottom: 50px;
}

.team-counts__inner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.team-counts__el {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 28px 14px;
    background-color: #fff;
    border-radius: 15px;
}

.team-count__heading {
    margin-bottom: 10px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.team-counts__desc {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.team__sliders-wrap {

    .slider-block {
        padding-bottom: 10px;

        &:nth-child(1), &:nth-child(3) {
            margin-bottom: 10px;
        }
    }
}

.team-mission {
    margin-bottom: 50px;

    .slider-img {
        width: 100%;
    }
}

.team-mission__text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.section-desc--team {
    max-width: 202px;
    text-align: center;
}

.team-desktop-heading {
    display: none;
}