.modal-overlay {
    z-index: 0;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $main-blue;
}

.modal-overlay--show {
    display: block;
}